.animation-in {
    width: 220px;
    height: 100%;
    transition: all 0.5s ease-in-out;

}
.animation-out{
    width: 45px;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.animation-out > a > span{
    display: none;
}