<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<!-- <app-login-header (notifyParent)="toogleSideBar($event)"></app-login-header> -->
<div class="w3-sidebar w3-bar-block text-white bg-dark animation-in" id="mySidebar">
    <a class="w3-bar-item w3-button" routerLink="/home"><i class="fa fa-th-large"></i><span class="link-out">Dashboard</span></a>
    <a href="#" class="w3-bar-item w3-button" routerLink = "/"><i class="fa fa-eye mr-1"></i><span>Webpage</span></a>
    <a href="#" class="w3-bar-item w3-button" routerLink="/articles"><i class="fa fa-table mr-1"></i><span>Articles</span></a>
    <a href="#" class="w3-bar-item w3-button" routerLink="/contact-us" ><i class="fa fa-envelope mr-1"></i><span>Contact</span></a>
    <a routerLink="/about-us" class="w3-bar-item w3-button"><i class="fa fa-info mr-1"></i><span>About content</span></a>
</div>