<nav class="navbar navbar-expand-lg bg-light">
    <div class="container text-white font-weight-bold">
        <div>
            <img src="../../assets/shape.png" class="img-responsive" routerLink='/'>
            <h2 class="mr-5 ">realEstate</h2>
        </div>
        <div class="collapse navbar-collapse col-6" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <i routerLink='/' class="fa fa-home" aria-hidden="true"></i>
                </li>
                <li class="mr-1" routerLink='/'>
                    Home
                </li>
                <li routerLink='/about'>
                    About
                </li>
                <li routerLink='/contact'>
                    Contact
                </li>
                <li>
                    <a href="#">
                        <img class="smallFlag"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Flag_of_Albania.svg/2000px-Flag_of_Albania.svg.png">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="smallFlag"
                            src="https://upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/1280px-Flag_of_the_United_Kingdom.svg.png">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    
<div data-ride="carousel" style="position: relative; z-index: -1;">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="w-100" src="{{pictureUrl}}">
            <div class="carousel-content">
                <div class="col-md-12">
                    <div class="">
                        <div *ngIf="id " class="font-weight-bold h2 text-success font-weight-bold">{{articleData.views}} Views </div>
                        <h1 *ngIf="id "  class="mb-2 text-uppercase" style="font-size:50px;">
                            {{articleData.city}}
                        </h1>
                        <div *ngIf="id" class="font-weight-bold h2 text-success font-weight-bold">{{articleData.price}}$ </div>

                   


                    </div>
                    <div class="">
                    </div>
                </div>

            </div>
        </div>

    </div>
    <a class="carousel-control-prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>