<app-login-header (notifyParent)="toogleSideBar($event)"></app-login-header>
<app-side-bar></app-side-bar>


<main class="py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11">
        <div class="card">
          <div class="card-header">
            Articles
          </div>
          <div class="container">
            <div class="card-body">
              <button class="btn btn-primary mt-2 mb-2 float-right" routerLink = '/create-article'>Create</button>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">City</th>
                    <th scope="col">Address</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Actions</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let td of tableData">
                    <th>{{td.id}}</th>
                    <td>{{td.title}}</td>
                    <td>{{td.city}}</td>
                    <td>{{td.address}}</td>
                    <td>{{td.phonenumber}}</td>
                    <td>{{td.type}}</td>
                    <td>@mdo</td>
                    <td>
                      <i (click)="viewDetails(td.id)" class="fa fa-eye text-success mr-1"></i>
                      <i class="fa fa-pencil text-primary mr-1"></i>
                      <i (click)="deleteArticle(td.id)" class="fa fa-trash text-danger"></i>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>